# pip install -r requirements.txt

torch==2.0.1
torchvision==0.15.2
numpy>=1.18.5
opencv-python>=4.1.2
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.41.0
thop  # FLOPs computation
onnx>=1.10.0  # ONNX export
onnx-simplifier>=0.3.6 # ONNX simplifier
tabulate # print table
pandas # read csv
wandb==0.15.3 # model logging
click==7.1.2 # fix wandb issue